<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pinoyyarn">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PINOYYARN">
        <activity
            android:name=".cHardSets"
            android:exported="false" />
        <activity
            android:name=".cHardQ4"
            android:exported="false" />
        <activity
            android:name=".cHardQ3"
            android:exported="false" />
        <activity
            android:name=".cHardQ2"
            android:exported="false" />
        <activity
            android:name=".cHardQ1_List"
            android:exported="false" />
        <activity
            android:name=".cHardQ1"
            android:exported="false" />
        <activity
            android:name=".cMedQ4"
            android:exported="false" />
        <activity
            android:name=".cMedQ3"
            android:exported="false" />
        <activity
            android:name=".cMedQ2"
            android:exported="false" />
        <activity
            android:name=".cMedQ1_List"
            android:exported="false" />
        <activity
            android:name=".cMedQ1"
            android:exported="false" />
        <activity
            android:name=".CultureStages"
            android:exported="false" />
        <activity
            android:name=".cEasyQ4"
            android:exported="false" />
        <activity
            android:name=".cEasyQ3"
            android:exported="false" />
        <activity
            android:name=".cEasyQ2"
            android:exported="false" />
        <activity
            android:name=".cMedSets"
            android:exported="false" />
        <activity
            android:name=".cScoreActivity"
            android:exported="false" />
        <activity
            android:name=".cEasySets"
            android:exported="false" />
        <activity
            android:name=".cEasyQ1_List"
            android:exported="false" />
        <activity
            android:name=".cEasyQ1"
            android:exported="false" />
        <activity
            android:name=".hEasyQ4"
            android:exported="false" />
        <activity
            android:name=".hEasyQ3"
            android:exported="false" />
        <activity
            android:name=".hEasyQ2"
            android:exported="false" />
        <activity
            android:name=".hScoreActivity"
            android:exported="false" />
        <activity
            android:name=".hEasyQ1"
            android:exported="false" />
        <activity
            android:name=".hDiffSets"
            android:exported="false" />
        <activity
            android:name=".hMedSets"
            android:exported="false" />
        <activity
            android:name=".hEasySets"
            android:exported="false" />
        <activity
            android:name=".LanguageStages"
            android:exported="false" />
        <activity
            android:name=".HistoryStages"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".AchievementsActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>